<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>电影名称</th>
                    <th>导演</th>
                    <th>国家</th>
                    <th>上映年份</th>
                    <th>录入时间</th>
                    <th>查看</th>
                    <th>更新</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                {{#each movies}}
                    <tr class="item-id-{{_id}}">
                        <td>{{title}}</td>
                        <td>{{doctor}}</td>
                        <td>{{country}}</td>
                        <td>{{year}}</td>
                        <td>{{showtime  meta.updateAt}}</td>
                        <td><a href="">find</a></td>
                        <td><a href="">update</a></td>
                        <td><button class="del btn-danger btn" type="button" data-id="{{_id}}" >删除</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="../../js/admin.js"></script>