<div class="container">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>movie name</th>
                    <th>movie doctor</th>
                    <th>movie country</th>
                    <th>find</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each item in movies}}
                    <tr class="item-id-{{{item._id}}}">
                        <td>{{item.title}}</td>
                        <td>{{item.doctor}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.year}}</td>
                        <td><a href="">find</a></td>
                        <td><a href="">update</a></td>
                        <td><a href="">delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>